{% extends "layout/base.html" %} {% block main %}
<header>
  <h1 class="heading text-center">{{heading}}</h1>
  <hr />
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'AppWeb:home' %}">
          <i class="bi bi-house-door-fill"></i>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{heading}}</li>
    </ol>
  </nav>
</header>
<div class="container p-4">
  {% for post in post_list %}
  <div class="row">
    <div class="col-8">
      <article class="py-4">
        <h3 class="display-6 link-body-emphasis mb-2 heading">
          <a href="{% url 'AppBlog:detail' pk=post.pk %}"> {{post.title}} </a>
        </h3>
        <p class="fw-normal text-body-secondary">
          {{post.created_date|date:'F d, Y'}} by <a href="#">{{post.author}}</a>
        </p>

        <p>{{post.content|safe|linebreaks|truncatewords_html:72}}</p>
      </article>
    </div>
  </div>
  {% empty %}
  <p class="fs-4">No draft data.</p>
  {% endfor %}
</div>
{% endblock %}
