{% extends "layout/base.html" %} {% block main %}
<div class="container">
  <header>
    <h1 class="heading text-center">{{heading}}</h1>
    <hr />
  </header>
  <div class="row">
    <div class="col-8">
      <form method="POST">
        {% csrf_token %}
        <p class="lead pt-5">
          Are you sure you want to delete the following post?
        </p>
        <p class="lead fw-bold">{{ object }}</p>

        <div class="d-flex mt-4">
          <a
            class="btn btn-outline-secondary rounded-pill"
            href="{% url 'AppBlog:detail' pk=object.pk %}"
          >
            Cancel
          </a>
          <button
            class="btn btn-outline-danger rounded-pill ms-auto"
            type="submit"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
