{% extends "layout/base.html" %} {% block main %}
<header>
  <h1 class="heading text-center">{{heading}}</h1>
  <hr />
</header>
<div class="container p-4">
  {% for post in post_list %}
  <div class="row">
    <div class="col-8">
      <article class="py-4">
        <h3 class="display-6 link-body-emphasis mb-2 heading">
          <a href="{% url 'AppBlog:detail' pk=post.pk %}"> {{post.title}} </a>
        </h3>
        <p class="fw-normal text-body-secondary">
          {{post.created_date|date:'F d, Y'}} by <a href="#">{{post.author}}</a>
        </p>

        <p>{{post.content|safe|linebreaks|truncatewords_html:72}}</p>
      </article>
    </div>
  </div>
  {% empty %}
  <p class="fs-4">No draft data.</p>
  {% endfor %}
</div>
{% endblock %}
