{% extends "layout/base.html" %} {% block main %}
<header>
  <h1 class="heading text-center">{{heading}}</h1>
  <hr />
</header>

<div class="row">
  <div class="col-8">
    <form method="post" class="needs-validation">
      {% csrf_token %} 
      <!-- {{form.author}} -->
      {% if form.author.errors %}
      {{form.author.errors}}
      {% endif %}
      <div class="mb-3">
        <label for="id_title" class="form-label">Title</label>
        {{form.title}} {% if form.title.errors %}
        {% endif %}
        <small class="text-danger">{{form.title.errors}}</small>
      </div>

      <div class="mb-3">
        <label for="id_content" class="form-label">Post Content</label>
        {{form.content}} {% if form.content.errors %}
        <small class="text-danger">{{form.content.errors}}</small>
        {% endif %}
      </div>
      <div class="my-5 d-flex">
        {% if form.instance.pk %}
        <a
          class="btn btn-outline-secondary rounded-pill"
          href="{% url 'AppBlog:detail' pk=form.instance.pk %}"
          >Cancel</a
        >
        <button
          class="btn btn-outline-primary rounded-pill ms-auto"
          type="submit"
        >
          Update
        </button>
        {% else %}
        <a
          class="btn btn-outline-secondary rounded-pill"
          href="{% url 'AppBlog:list' %}"
          >Cancel</a
        >
        <button
          class="btn btn-outline-primary rounded-pill ms-auto"
          type="submit"
        >
          Create
        </button>
        {% endif %}
      </div>
    </form>
  </div>
</div>

<script>
  tinymce.init({
    selector: ".editor",
  });
</script>
{% endblock %}
