body {
  height: 100%; /* needed for container min-height */
}

main {
  min-height: 470px;
}

.home-heading {
  font-family: "Playfair Display";
  font-weight: 600;
  color: brown;
}

.heading {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: bolder;
}

p {
  font-size: 1rem;
}
label {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
  font-weight: bold;
}
